language: php

php:
  - 7.2
  - 7.3

matrix:
  allow_failures:


before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev
  - wget https://phar.phpunit.de/phpunit-6.5.6.phar -O phpunit.phar

script: php phpunit.phar --configuration phpunit.travis.xml --coverage-text
